
/Results
alex_test_azim_motion/Results/*
martin_std_BM/Results/*

FLHET_test/half_gradPxy_emp_term_add_6/

.idea/FLEHET1D.iml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/misc.xml

.idea/vcs.xml

.idea/workspace.xml
FLHET_test/restart_config/*
Results_SPT/*
Results_SPT_*/*
